.project{
    width: 320px;
    min-height: 230px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px 0 ;

    overflow: hidden;

    border-radius: 10px;

    background-color: black;

    position: relative;

    transition: 0.5s;

    &.project--selected{
        width: 400px;
        height: 300px;

        border: 1px solid white;

        -webkit-box-reflect: below 10px 
        -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(rgba(255, 255, 255, 0.308)));

        z-index: 99;
    }


    .project__img-holder{
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;

        .project__img{
            width: 100%;
            height: auto;
        }
    }

    .project__descr{
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;

        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 5px;
        font-size: 2rem;
    }
}